<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="./images/FFFavicon.png" rel="icon">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dosis|Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="bxslider/jquery.bxslider.css" rel="stylesheet">
  <link href="styles/jquery.scrollbar.css" rel="stylesheet">

</head>
<body ng-app="beautyApp" id="up-scroll" ng-controller="pageController">
<div class="container">
  <div class="row">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">
          Профессиональная забота о вашей коже</a>
      </div>
      <div class="navbar-collapse" id="main-menu">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Услуги<span class="sr-only">(current)</span></a></li>
          <li><a href="#" ng-click="showPrice($event)">Прайс-лист</a></li>
          <li><a href="#" ng-click="showForm($event)">Записаться</a></li>
          <li><a href="#" ng-click="showContacts($event)">Контакты</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <section class="about-first-section">
    <div class="col-sm-6 padding-none">
      <ul class="about-main-list">
        <li class="about-main_item1">
          <div class="img-wrap"></div>
          <h2>
            Индивидуальный подход к каждому клиенту!
          </h2>
          <p>После диагностики состояния кожи подбирается схема уходовых процедур, построенных по принципу
            <i>корнеотерапии.</i></p>
          <div class="clearfix"></div>
        </li>
        <li class="about-main_item2">
          <div class="img-wrap"></div>
          <h2>
            Только качественные материалы!</h2>
          <p>В составе косметических средств <i>отсутствуют</i> продукты, угнетающие или замедляющие нормальные
            процессы регенерации кожи: ПАВы, эмульгаторы, отдушки, спирты, минеральные масла.</p>
          <div class="clearfix"></div>
        </li>
        <li class="about-main_item3">
          <div class="img-wrap"></div>
          <h2>
            Остеопатический подход в косметологии!
          </h2>
          <p>Такое воздействие захватывает не только внешний слой кожи, а так же мышечные и костные структуры,
            что обеспечивает <i>длительный и устойчивый эффект</i>.</p>
          <div class="clearfix"></div>
        </li>
      </ul>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="courel-wrap">
        <img id="top-slide1" class="img-responsive" alt="" src="images/cosmetolog_prof_slide1jpg.jpg"/>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-12 text-center">
      <div class="main-text-wrap">
        <h1>Доброго времени суток!</h1>
        <p>
          Меня зовут Ирина, я косметолог с более 15 летним опытом работы и я хочу пригласить Вас в
          свой мир - мир косметологии, в котором все подчинено одному закону - оставаться привлекательным в любых
          ситуациях и в любом возрасте. Моя цель- максимально отсрочить внешние проявления процессов старения,
          помочь выглядеть красиво, иметь привлекательную внешность. Ведь о здоровье и красоте человека судят в первую
          очередь по состоянию его кожи. А в системе человеческих ценностей красота и здоровье занимают особое место.
          Мои процедуры проводятся с максимальной заботой и бережностью, используются только качественные материалы,
          иннновационые и прогрессивные методики.
        </p>
        <p>Добро пожаловать в мир красоты, здоровья и гармонии!</p>
        <button class="go-to-procedure-btn" ng-click="showForm($event)">Записаться на консультацию</button>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>
  <hr>
  <section class="about-me">
    <h2 class="text-center">Если коротко о том, что я могу вам предложить:</h2>
    <div class="row">
      <div class="col-sm-6">
        <div class="about-me-carousel">
          <div id="about-me-carousel" class="carousel slide" data-interval="3000" data-ride="carousel">
            <div class="carousel-inner">
              <div class="active item slide-1">
                <div class="carousel-caption">
                  <h3>Доверьтесь профессионалу!</h3>
                </div>
              </div>
              <div class="item slide-2">
                <div class="carousel-caption">
                  <h3>Позаботьтесь и вашей коже!</h3>
                </div>
              </div>
              <div class="item slide-3">
                <div class="carousel-caption">
                  <h3>Будьте неотразимы!</h3>

                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control left" href="#about-me-carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="carousel-control right" href="#about-me-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
      <div class="col-sm-6">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">О качестве</a>
          </li>
          <li role="presentation">
            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Прайс-лист</a>
          </li>
          <li role="presentation">
            <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Скидки</a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">
            <ul class="tab-list">
              <li>Косметика на которой выполняются процедуры зарекомендовала себя на рынке как безопасная,
                надёжная и проверенная временем.
              </li>
              <li>Использование корнеотерапии, как базовой процедуры по восстановлению верхнего слоя кожи
              </li>
              <li>Работа с мышечным каркасом лица, что обеспечивает хороший лифтинг эффект.
              </li>
              <li>Гармонизация лица и тела. Для этого используется биодинамический подход в
                остеопатической косметологии.
              </li>
            </ul>
          </div>
          <div role="tabpanel" class="tab-pane" id="profile">
            <price-list-directive></price-list-directive>
          </div>
          <div role="tabpanel" class="tab-pane" id="messages">
            <ul class="sales">
              <li>В день рождения, скидка 20%.</li>
              <li>При оплате курса процедур, скидка 10%.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="about-my-work">
    <h2 class="text-center">Подробнее о процедурах.</h2>
    <div class="items-wrap">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <h3>Чистка лица.</h3>
          <img src="images/cosmetology_slide.jpg" alt="cleanFace">
          <div class="caption">
            <p>Чистка проводится по системе «корнеотерапии». В начале процедуры проводится глубокое очищение
              кожи. Затем - энзимная пиллинг-маска с помощью натуральных ферментов, глубоко очищает кожу. В результате
              кожа сама отдаёт содержимое пор и выводятся токсины. После этого на кожу наносится маска, которая
              готовится непосредственно перед нанесением с учётом потребностей данной кожи. В завершении процедуры
              наносится крем, который так-же готовится индивидуально.
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <h3>Уход за лицом, шеей и декольте.</h3>
          <img src="images/kosmetolog-decolte.jpg" alt="cosmetolog">
          <div class="caption">
            <p>При данных процедурах так-же используется метод восстановления кожи по системе корнеотерапии. В начале
              делается демакияж и глубокая очистка кожи. Затем
              наносится натуральный пилинг, который содержит в
              качестве
              абразивов масло жожоба. Следующим этапом идёт введение активных ингредиентов в кожу с помощью
              фонофореза,
              концентраты подбираются индивидуально по состоянию кожи на данный момент. Затем проводится
              массаж лица, шеи и декольте. После чего наносится маска, которая готовится extempore. В конце
              наносится крем, приготовленный при вас в ходе процедуры.
              Такой уход проводится курсом 1 раз внеделю, в течении 6 недель.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <h3>Meder beauty sience.</h3>
          <img src="images/meder.jpg" alt="meder">
          <div class="caption">
            <p>Мировой эксперт в области неинвазивной(безинъекционной) коррекции возрастных изменений лица. Высокая
              концентрация биотехнологических ингредиентов, точно просчитанные дозировки, тщательно разработанный
              протокол – гарантия результата после первого посещения.
              Данные процедуры проводятся курсом 1 раз в
              неделю, от 5 недель.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <h3>Триада.</h3>
          <img src="images/triada.jpg" alt="triada">
          <div class="caption">
            <p>Метод послойного воздействия на лицо. Включает в себя: </p>
            <ul>
              <li>ручной массаж</li>
              <li>вибромассаж</li>
              <li>миостимуляцию</li>
            </ul>
            <p>
              При этом прорабатывается не только кожа, но и мышцы. В начале кожа разогреват массажем, затем
              воздействуем на мышцы вибромодулем, это даёт хорошую подтяжку лица, затем проводим
              миостимуляцию(гимнастика для мышц). Такая трёхступенчатая процедура
              равносильна безоперационной подтяжки лица.
              Длительность курса: 10 процедур, ежедневно, 1 раз в год, с 25 лет.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <h3>Микронидлинг.</h3>
          <img src="images/microlinding.jpg" alt="micronidling">
          <div class="caption">
            <p>проводится с помощью роллера с маленькими иглами на поверхности, при движении он прокалывает кожу,
              образуя на ней микротравмы, при этом клетки кожи активно реагируют на такого рода стимуляцию и
              начинается
              активная выработка коллагеновых волокон. Мезороллер применяют совместно с нанесением на кожу специально
              подобранных средств в зависимости от проблемы.
            <ul>
              <li>улучшение общего состояния кожи;</li>
              <li>уменьшение выраженности морщин;</li>
              <li>осветление пегментных пятен;</li>
              <li>кожа выглядит помолодевшей и подтянутой;</li>
            </ul>
            Длительность курса: от 4 процедур 1 раз в неделю. Раз в год.
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <h3>Остеопатический сеанс.</h3>
          <img src="images/osteopatia2.jpg" alt="osteopatia">
          <div class="caption">
            <p>Остеопатическая косметология – раздел терапии направленный на возвращение здоровья тканям лица и тела,
              восстановление природной красоты, здорового цвета лица и мимической мускулатуры. Такой подход позволяет
              убрать напряжение мышц, в результате чего освобождаются эмоциональные блоки в теле, улучшается общее
              состояние, настроение становится лучше, меняется выражение глаз. Эта процедура гармонизации души и
              тела.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="comments-about-me">
    <h2 class="text-center">Отзывы о работе</h2>
    <div class="list-of-comments">
      <div class="slide col-xs-12 scrollbar-light">
        <img src="images/otziv1.jpg" alt="avatar" class="img-responsive">
        <h4>Анна Баранник</h4>
        <p>Рекомендую!)))С переездом Ирины в Одессу потеряла грамотного косметолога.
          Остаётся завидовать одеситам!</p>
      </div>
      <div class="slide col-xs-12 scrollbar-light">
        <img src="images/otziv2jpg.jpg" alt="avatar" class="img-responsive">
        <h4>Светлана Маева</h4>
        <p>Поддерживаю, золотые ручки и думающий специалист!</p>
      </div>
      <div class="slide col-xs-12 scrollbar-light">
        <img src="images/avatar.jpg" alt="avatar" class="img-responsive">
        <h4>Кристина Линник</h4>
        <p>Ирина - это настоящий профессионал и мастер своего дела! У меня была проблемная очень сухая кожа,
          а теперь я точно могу сказать об этом в прошедшем времени! и Ирина помогла мне на 500 % справиться
          с этим недугом. Ирина всегда подбирает лечение с индивидуальным подходом к каждому.
          Её рекомендации касаются как внешнего воздействия на проблему, так и (что очень-очень важно!)
          решения проблемы изнутри. Все процедуры проводятся с помощью профессиональной косметики и умелых добрых
          рук :)
          Хочу всем посоветовать Ирину - точно не прогадаете. Если есть какие-то вопросы приходите к ней за советом
          Я при случае рекомендую её своим друзьям/знакомым.
          А ещё - Ирина очень добрый, отзывчивый и честный человек и Косметолог с большой буквы!
          Ирочка, спасибо тебе огромное за помощь, советы и отличное настроение!</p>
      </div>
      <div class="slide col-xs-12 scrollbar-light">
        <img src="images/otziv4.jpg" alt="avatar" class="img-responsive">
        <h4>Яна Щербак</h4>
        <p>Посещала Ирину для прохождения курса по восстановлению кожи после пилинга..
          Была приятно удивлена трогательной заботой о "клиенте"!
          Получила хорошую консультацию по состоянию своей кожи, возможных домашних уходах и грамотное сопровождение
          как во время процедуры так и после. Ирина к каждому клиенту относия с трепетом и
          заботой!
          Спасибо Вам огромное! Грамотный, думающий специалист! Хочется обращаться вновь и вновь!</p>
      </div>
      <div class="slide col-xs-12 scrollbar-light">
        <img src="images/otziv5.jpg" alt="avatar" class="img-responsive">
        <h4>Анна Глямшина</h4>
        <p>Ирина очень хороший мастер, с большим опытом работы! Хожу на чистку лица, сразу видно,
          что человек работает с душой, и заинтересован в достижении результата. Советую всем!</p>
      </div>

      <div class="slide col-xs-12 scrollbar-light">
        <img src="images/otziv10.jpg" alt="avatar" class="img-responsive">
        <h4>Елена Самойлова</h4>
        <p>Прекрасному человеку и квалифицированному специалисту удачи на новом месте!</p>
      </div>
      <div class="slide col-xs-12 scrollbar-light">
        <img src="images/otziv9.jpg" alt="avatar" class="img-responsive">
        <h4>Лилу Усачева</h4>
        <p>Девушки Одессы! Рекомендую вам не пропустить приглашение Ирины.
          Довериться, может и сложно, но не пожалеете.</p>
      </div>
    </div>
  </section>
</div>
<section class="feed-back-form">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>В форме ниже вы можете заказать обратный звонок или связаться со мной по телефону.
        </h2>
        <div class="col-sm-4">
          <ul class="adress-list">
            <li>г. Одесса, ул. Троицкая 12.</li>
            <li>тел. 050-911-95-26</li>
            <li>068-237-34-64</li>
          </ul>
          <div class="social-btn">
            <a target="_blank"
               href="https://www.facebook.com/irina.torchinska/about?lst=100002478434320%3A100002764230737%3A1495111821">
              <img class="fb-social" src="images/facebook-icon.png">
            </a>
            <a target="_blank" href="https://www.instagram.com/kosmetolog.odessa/?hl=ru">
              <img src="images/insta-icon.png">
            </a>
          </div>

        </div>
        <form ng-if="!mailSent" action="/send-mail.php" method="POST" ng-submit="onSubmit($event)">
          <div class="col-sm-4 col-xs-12">
            <textarea id="feed-back" name="feed-back" ng-model="form.message"
                    style="width: 100%; height: 140px;"
                    placeholder="Здесь вы можете оставить свой комментарий или задать вопрос."></textarea>
          </div>
          <div class="col-sm-4 col-xs-12">
            <input type="text" id="name" placeholder="Ваше имя" ng-model="form.name">
            <input type="text" id="tel" placeholder="Номер телефона" ng-model="form.phone">
            <button class="submit-btn">Отправить</button>
          </div>
        </form>
        <div ng-if="mailSent" class="mail-sent">
          Сообщение успешно отправлено!
        </div>

      </div>
    </div>
  </div>
</section>
<a href="#" class="up-btn"><span class="glyphicon glyphicon-menu-up"></span>
  <span class="glyphicon glyphicon-menu-up sec2"></span>
</a>

<div class="modal price-popup">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Цены на услуги</h4>
      </div>
      <div class="modal-body">
        <price-list-directive></price-list-directive>
      </div>
    </div>
  </div>
</div>
<div class="modal form-popup">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form-popup-directive></form-popup-directive>
      </div>
    </div>
  </div>
</div>
<div class="modal contacts-popup">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <ul class="adress-list">
          <li>г. Одесса, ул. Троицкая 12.</li>
          <li>тел. 050-911-95-26</li>
          <li>068-237-34-64</li>
        </ul>
        <div class="social-btn">
          <a target="_blank"
             href="https://www.facebook.com/irina.torchinska/about?lst=100002478434320%3A100002764230737%3A1495111821">
            <img class="fb-social" src="images/facebook-icon.png">
          </a>
          <a target="_blank" href="https://www.instagram.com/kosmetolog.odessa/?hl=ru">
            <img src="images/insta-icon.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/slick-carousel/slick/slick.js"></script>
<!-- endbower -->
<!-- endbuild -->

<script src="bxslider/jquery.bxslider.js"></script>

<!--build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/page.controller.js"></script>
<script src="scripts/services/price-list.service.js"></script>
<script src="scripts/directives/price-list.directive.js"></script>
<script src="scripts/services/form-popup.service.js"></script>
<script src="scripts/directives/form-popup.directive.js"></script>
<script src="scripts/jquery.scrollbar.js"></script>
<!--<script src="../node_modules/readmore-js/readmore.min.js"></script>-->
<!-- endbuild -->

<script type="text/javascript">
  $(document).ready(function () {
    $("#about-us-carousel").carousel('cycle');
    // Инициализирует карусель
    $(".start-slide").click(function () {
      $("#about-us-carousel").carousel('cycle');
    });

    function flipImage() {
      $('#top-slide1').addClass('myflip');
      setTimeout(function () {
        $('#top-slide1').removeClass('myflip');

      }, 2000);
    }

    $('#top-slide1').on('click', function () {
      $('#top-slide1').addClass('myflip')
    })
    setInterval(function () {
      flipImage();
    }, 9000)


    /**************SCROLL-btn******************/
    var upElem = document.getElementById('');
    var pageYLabel = 0;

    function upBtnClick(e) {
      e.preventDefault();
      $("html, body").animate({scrollTop: 0}, 600);
    }

    $('.up-btn').on('click', upBtnClick);

    window.onscroll = function () {
      var height = $(window).scrollTop();
      if (height >= 1200) {
        $('.up-btn').show('slow');
      } else {
        $('.up-btn').hide('slow');
      }
    };
    /******************SCROLL****************************/


    jQuery('.scrollbar-light').scrollbar();


    /***********************comments-slider***************************************/


    $('.list-of-comments').bxSlider({
      slideWidth: 500,
      minSlides: 3,
      maxSlides: 3,
      moveSlides: 1,
      slideMargin: 10
    });

    /***************************************/
//    $(".btn").click(function () {
//      $("toggleSample").collapse('toggle');
//    });

    /*read-more-btn*/

//    $('article').readmore({
//      maxHeight: 140,
//      moreLink: '<a href="#">Подробнее</a>',
//      lessLink: '<a href="#">Скрыть</a>'
//    });


  });
</script>


</body>
</html>
